@model Producto

<h2>Añadir producto</h2>

<form asp-action="Crear" method="post">
    <div class="mb-3">
        <label asp-for="Nombre" class="form-label"></label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Precio" class="form-label"></label>
        <input asp-for="Precio" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Color" class="form-label"></label>
        <input asp-for="Color" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
