html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.bg-pink{
    background-color:pink;
}

.bg-superpink{
    background-color:hotpink;
}

a.nav-link:hover{
    background-color:lightpink;
    
}

ul.navbar-nav{
    display:flex;
    gap:5px;
}
.text-pink-main{
    color:pink;

}

.text-pink-main:hover{
    color:pink;
}
.text-pink-hover:hover{
    color:deeppink;
}

a{color: mediumvioletred;
}